@font-face {
    font-family: boschbold;
    src:url("BoschFont/BoschSans-Bold.otf");
}

@font-face {
    font-family: boschlight;
    src: url("BoschFont/BoschSans-Light.otf");
}

@font-face {
    font-family: boschmedium;
    src: url("BoschFont/BoschSans-Medium.otf");
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.75;
    font-family: boschlight;
}

a {
    color: #efbe37;
}

a:hover {
    color: #efbe37;
}

.text-primary {
    color: #efbe37!important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: boschbold, Helvetica, Arial, sans-serif;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
}

section h3.section-subheading {
    font-size:16px;
    font-weight:400;
    margin-bottom:75px;
    text-transform:none;
    font-family: boschmedium, Helvetica, Arial, sans-serif;
}

@media (min-width:768px) {
    section{
        padding: 150px 0;
    }
}

.btn {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: #efbe37;
    border-color: #efbe37;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fec810!important;
    border-color: #fec810!important;
    color: #fff;
}

.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(254,209,55,.5)!important;
}


img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.img-shadow {
    box-shadow: 5px 5px 40px #e6e6e6;
}
#modaltable {
    border-collapse: collapse;
    border-spacing: 3;
    border: 2px solid #ddd;
    text-indent: 8px;
}

#modaltable>th, td {
    text-align: center;
    padding: 5px;
    border-left: 2px solid #ddd;
}

#modaltable>tr {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeaccordion, .accordion:hover {
    background-color: #efbe37;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 15px;
    width: 100%;
    background-color: white;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


#mainNav{
    background-color: #212529}

#mainNav .navbar-toggler{
    font-size:12px;
    right:0;
    padding:13px;
    text-transform:uppercase;
    color:#ffffff;
    border:0;
    background-color:#efbe37;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif}

#mainNav .navbar-brand{
    font-weight: 800;
    color: #ffffff;
    font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive}

#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#efbe37}

#mainNav .navbar-nav .nav-item .nav-link{
    font-size: 100%;
    font-weight: 400;
    padding:.75em 0;
    letter-spacing:1px;
    color:#ffffff;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif}

#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{color:#efbe37}

@media (min-width:992px)

    {
    #mainNav{
        padding-top:5px;
        padding-bottom:10px;
        -webkit-transition:padding-top .3s,padding-bottom .3s;
        -moz-transition:padding-top .3s,padding-bottom .3s;
        transition:padding-top .3s,padding-bottom .3s;
        border:none;
        background-color: #000001;}
        
    #mainNav .navbar-brand{font-size:1.75em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
    #mainNav .navbar-nav .nav-item .nav-link{padding:1.1em 1em!important}
        
    #mainNav.navbar-shrink{padding-top:0;padding-bottom:0;background-color:#212529;}
    #mainNav.navbar-shrink .navbar-brand{font-size:1.25em;padding:12px 0}
    }

header.masthead{
    color:#fff;
    background-image: url(../HTML/IMG/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover}

header.masthead .intro-text{
    padding-top:150px;
    padding-bottom:100px}
header.masthead .intro-text .intro-lead-in{
    font-size:22px;
    font-style:italic;
    line-height:22px;
    margin-bottom:25px;
    font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif}

header.masthead .intro-text .intro-heading{
    font-size:50px;
    font-weight:700;
    line-height:50px;
    margin-bottom:25px;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif}

@media (min-width:768px){    
    header.masthead .intro-text{padding-top:300px;padding-bottom:200px}
    header.masthead .intro-text .intro-lead-in{font-size:40px;font-style:italic;line-height:40px;margin-bottom:25px;font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif}
    header.masthead .intro-text .intro-heading{font-size:75px;font-weight:700;line-height:75px;margin-bottom:50px;font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif}}

@media only screen and (max-width: 600px) {
    header.masthead{background-image: url(IMG/rotary1.jpg);}
}
    



#category .category-item{
    right:0;
    margin:0 0 15px}

#category .category-item .category-link{
    position:relative;
    display:block;
    max-width:400px;
    margin:0 auto;
    cursor:pointer}
#category .category-item .category-link .category-hover{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-transition:all ease .5s;
    -moz-transition:all ease .5s;
    transition:all ease .5s;
    opacity:0;
    background:rgba(254,209,54,.9)}
#category .category-item .category-link .category-hover:hover{opacity:1}
#category .category-item .category-link .category-hover .category-hover-content{
    font-size:20px;
    position:absolute;
    top:50%;
    width:100%;
    height:20px;
    margin-top:-12px;
    text-align:center;
    color:#000001;}
#category .category-item .category-link .category-hover .category-hover-content i{margin-top:-12px}
#category .category-item .category-link .category-hover .category-hover-content h3,#category .category-item .category-link .category-hover .category-hover-content h4{margin:0}
#category .category-item .category-caption{max-width:400px;margin:0 auto;padding:25px;text-align:center;}
#category .category-item .category-caption h4{margin:0;text-transform:none}
#category .category-item .category-caption p{
    font-size:16px;
    font-style:italic;
    margin:0;font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif}
#category *{z-index:2}

@media (min-width:767px){
    #category .category-item{margin:0 0 0px}}

.category-modal{padding-right:0!important}
.category-modal .modal-dialog{
    margin:3rem;
    max-width:100vw}

.category-modal .modal-content{
    padding:50px;}

.category-modal .modal-content h2{
    font-size:3em;
    margin-bottom:15px}

.category-modal .modal-content p{margin-bottom:30px}
.category-modal .modal-content p.item-intro{
    font-size:16px;
    font-style:italic;
    margin:20px 0 30px;
    font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif}

.category-modal .modal-content ul.list-inline{
    margin-top:0;
    margin-bottom:30px}
.category-modal .modal-content img{margin-bottom:30px}
.category-modal .modal-content button{cursor:pointer}
.category-modal .close-modal{
    position:absolute;
    top:25px;
    right:25px;
    width:75px;
    height:75px;
    cursor:pointer;
    background-color:transparent}


.category-modal .close-modal:hover .lr{opacity:1; background-color: #efbe37; width:2px;}
.category-modal .close-modal:hover .lr .rl{opacity:1; background-color: #efbe37; width:2px;}
.category-modal .close-modal .lr{
    z-index:1051;
    width:1.5px;
    height:40px;
    margin-left:35px;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    background-color:#000001}

.category-modal .close-modal .lr .rl{
    z-index:1052;
    width:1.5px;
    height:40px;
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    background-color:#000001}




.footer{
    padding:25px 0;
    text-align:center;
    color: #efbe37;
    background-color: #000001;}
footer span.copyright{
    font-size:95%;
    line-height:50px;
    text-transform:none;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif}
